PORT=8000
LISTEN=127.0.0.1
WORKERS=4
ROOT_PATH=/

SECRET_KEY=MYSECRETYKEY12345
CSRF_SECRET=MYSECRETYCSRFKEY12345
SESSION_NAME=ipwebtools_session

DEBUG=True
LOG_LEVEL=debug
LOG_DIR=/var/log/ipwebtools/

# Maxmind GeoIP
GEOIP_ENABLED=True
GEOIP_USER_ID=12344
GEOIP_API_KEY=ApISecrEt

# Maxmind Paid Service
# GEOIP_HOST=geoip.maxmind.com
# Maxmind Lite Service
GEOIP_HOST=geolite.info