{% extends 'base.html' %}

{% block title %}
  IP Address Info
{% endblock %}

{% block content %}
  <div class="columns is-tablet">
    <div class="column is-one-third is-one-quarter-desktop is-one-fifth-fullhd">
      <div class="card">
        <header class="card-header">
          <button class="card-header-icon" aria-label="more options"><span class="icon"><i class="fa-solid fa-table-list"></i></span></button>
          <p class="card-header-title">IP Info</p>
        </header>
        <div class="card-content">
          <p class="subtitle is-7">Get information about an IP Address</p>
          <form method="post">
            {{ form.csrf_token }}

            <div class="field">
              {{ form.ipaddress.label(class = 'label') }}
              <div class="control is-expanded has-icons-left">
                {% if form.ipaddress.errors %}
                  {{ form.ipaddress(class = 'input is-danger') }}
                {% else %}
                  {{ form.ipaddress(class = 'input') }}
                {% endif %}
                <span class="icon is-small is-left"><i class="fa-solid fa-server"></i></span>
              </div>
              {% if form.ipaddress.errors %}
                <p class="help is-danger">
                  {% for error in form.ipaddress.errors %}
                    {{ error }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      {% if results %}
        <table class="table is-hoverable is-fullwidth is-bordered">
          <tbody>
            <tr>
              <th>IP Address</th>
              <td>{{ results.ipaddress }}</td>
            </tr>
            <tr>
              <th>IP Version</th>
              <td>IPv{{ results.version }}</td>
            </tr>
            {% if results.info %}
              {% if results.info.org %}
                <tr>
                  <th>Organisation</th>
                  <td>{{ results.info.org }}</td>
                </tr>
              {% endif %}
              {% if results.info.asn %}
                <tr>
                  <th>ASN</th>
                  <td>{{ results.info.asn }}</td>
                </tr>
              {% endif %}
              {% if results.info.network %}
                <tr>
                  <th>Subnet</th>
                  <td>{{ results.info.network }}</td>
                </tr>
              {% endif %}
              {% if results.info.cidr %}
                <tr>
                  <th>BGP Announced Prefix</th>
                  <td>{{ results.info.cidr }}</td>
                </tr>
              {% endif %}
              {% if results.info.rir %}
                <tr>
                  <th>RIR</th>
                  <td>{{ results.info.rir }}</td>
                </tr>
              {% endif %}
              {% if results.info.continent %}
                <tr>
                  <th>Continent</th>
                  <td>{{ results.info.continent.name }}
                    ({{ results.info.continent.code }})</td>
                </tr>
              {% endif %}
              {% if results.info.country %}
                <tr>
                  <th>Country</th>
                  <td>{{ results.info.country.name }}
                    ({{ results.info.country.code }})</td>
                </tr>
              {% endif %}
              {% if results.info.region %}
                <tr>
                  <th>Region</th>
                  <td>{{ results.info.region }}</td>
                </tr>
              {% endif %}
              {% if results.info.city %}
                <tr>
                  <th>City</th>
                  <td>{{ results.info.city }}</td>
                </tr>
              {% endif %}
              {% if results.info.timezone %}
                <tr>
                  <th>Timezone</th>
                  <td>{{ results.info.timezone }}</td>
                </tr>
              {% endif %}
              {% if results.info.location %}
                <tr>
                  <th>Latitude / Longitude</th>
                  <td>{{ results.info.location.latitude }}
                    /
                    {{ results.info.location.longitude }}</td>
                </tr>
              {% endif %}
            {% endif %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
