{% extends 'base.html.j2' %}
{% block title %}IP Address Info{% endblock %}
{% block content %}
  <div class="columns is-tablet">
    <div class="column is-one-third is-one-quarter-desktop is-one-fifth-fullhd">
      <div class="card">
        <header class="card-header">
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa-solid fa-table-list"></i></span>
          </button>
          <p class="card-header-title">IP Address Info</p>
        </header>
        <div class="card-content">
          <p class="subtitle is-7">Get information about an IP Address</p>
          <form method="post">
            {{ form.csrf_token }}
            <div class="field">
              {{ form.ipaddress.label(class = 'label') }}
              <div class="control is-expanded has-icons-left">
                {% if form.ipaddress.errors %}
                  {{ form.ipaddress(class = 'input is-danger') }}
                {% else %}
                  {{ form.ipaddress(class = 'input') }}
                {% endif %}
                <span class="icon is-small is-left">
                  <i class="fa-solid fa-server"></i>
                </span>
              </div>
              {% if form.ipaddress.errors %}
                <p class="help is-danger">
                  {% for error in form.ipaddress.errors %}{{ error }}{% endfor %}
                </p>
              {% endif %}
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      {% if results %}
        <nav class="level mb-6">
          {% if results.info and results.info.country and results.info.country.code and results.info.country.name %}
            <div class="level-left">
              <div class="level-item has-text-centered">
                <div>
                  <p class="title">
                    <span class="fi fi-{{ results.info.country.code|lower }}"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Country</p>
                <p class="title is-4">{{ results.info.country.name }}</p>
              </div>
            </div>
            {% if results.info.city %}
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">City</p>
                  <p class="title is-4">{{ results.info.city }}</p>
                </div>
              </div>
            {% endif %}
          {% endif %}
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">IP Address</p>
              <p class="title is-4">{{ results.ipaddress }}</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">IP Version</p>
              <p class="title is-4">IPv{{ results.version }}</p>
            </div>
          </div>
          {% if results.info and results.info.asnName %}
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Name</p>
                <p class="title is-4">{{ results.info.asnName }}</p>
              </div>
            </div>
          {% endif %}
        </nav>
        <div class="columns mb-4">
          {% if results.info %}
            <div class="column">
              <table class="table is-fullwidth">
                <tbody>
                  {% if results.info.asnOrgName %}
                    <tr>
                      <th>Organisation</th>
                      <td>{{ results.info.asnOrgName }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.asn %}
                    <tr>
                      <th>ASN</th>
                      <td>{{ results.info.asn }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.asnLocation %}
                    <tr>
                      <th>ASN Location</th>
                      <td>
                        <span class="fi fi-{{ results.info.asnLocation|lower }} mr-2"></span>
                        {{ results.info.asnLocationName }}
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            <div class="column">
              <table class="table is-fullwidth">
                <tbody>
                  {% if results.info.network %}
                    <tr>
                      <th>GeoIP Network</th>
                      <td>{{ results.info.network }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.region %}
                    <tr>
                      <th>Region</th>
                      <td>{{ results.info.region }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.continent and results.info.continent.name %}
                    <tr>
                      <th>Continent</th>
                      <td>{{ results.info.continent.name }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.timezone %}
                    <tr>
                      <th>Timezone</th>
                      <td>{{ results.info.timezone }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.location and results.info.location.latitude and results.info.location.longitude %}
                    <tr>
                      <th>Coordinates</th>
                      <td>
                        {{ results.info.location.latitude }}
                        /
                        {{ results.info.location.longitude }}
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
