{% extends 'base.html' %}

{% block title %}
  IP Prefix Info
{% endblock %}

{% block content %}
  <div class="columns is-tablet">
    <div class="column is-one-third is-one-quarter-desktop is-one-fifth-fullhd">
      <div class="card">
        <header class="card-header">
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa-solid fa-table-list"></i></span></button>
          <p class="card-header-title">IP Prefix Info</p>
        </header>
        <div class="card-content">
          <p class="subtitle is-7">Get information about an IP prefix.</p>
          <form method="post">
            {{ form.csrf_token }}

            <div class="field">
              {{ form.network.label(class = 'label') }}
              <div class="control is-expanded has-icons-left">
                {% if form.network.errors %}
                  {{ form.network(class = 'input is-danger') }}
                {% else %}
                  {{ form.network(class = 'input') }}
                {% endif %}
                <span class="icon is-small is-left">
                  <i class="fa-solid fa-server"></i>
                </span>
              </div>
              {% if form.network.errors %}
                <p class="help is-danger">
                  {% for error in form.network.errors %}
                    {{ error }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      {% if results %}

        <nav class="level mb-6">
          {% if results.info and results.info.country_codes and results.info.country_codes.whois_country_code %}
            <div class="level-left">
              <div class="level-item has-text-centered">
                <div>
                  <p class="title">
                    <span class="fi fi-{{ results.info.country_codes.whois_country_code|lower }}"></span></p>
                </div>
              </div>
            </div>
          {% endif %}

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Prefix</p>
              <p class="title is-4">{{ results.cidr }}</p>
            </div>
          </div>

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">IP Version</p>
              <p class="title is-4">IPv{{ results.version }}</p>
            </div>
          </div>

          {% if results.info and results.info.name %}
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Name</p>
                <p class="title is-4">{{ results.info.name }}</p>
              </div>
            </div>
          {% endif %}
          {% if results.info.rir_allocation and results.info.rir_allocation.rir_name%}
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">RIR</p>
                <p class="title is-4">{{ results.info.rir_allocation.rir_name }}</p>
              </div>
            </div>
          {% endif %}

          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Total Addresses</p>
              <p class="title is-4">{{ results.total_ips }}</p>
            </div>
          </div>
        </nav>

        <div class="columns mb-4">
          {% if results.info %}
            <div class="column">
              <table class="table is-fullwidth">
                <tbody>
                  {% if results.info.description_short %}
                    <tr>
                      <th>Description</th>
                      <td>{{ results.info.description_short }}</td>
                    </tr>
                  {% endif %}
                  {% if results.info.rir_allocation %}
                    {% if results.info.rir_allocation.allocation_status %}
                      <tr>
                        <th>Status</th>
                        <td>{{ results.info.rir_allocation.allocation_status|capitalize }}</td>
                      </tr>
                    {% endif %}
                    {% if results.info.rir_allocation.date_allocated %}
                      <tr>
                        <th>Date Allocated</th>
                        <td>{{ results.info.rir_allocation.date_allocated }}</td>
                      </tr>
                    {% endif %}
                  {% endif %}
                  {% if results.info.date_updated %}
                    <tr>
                      <th>Last Updated</th>
                      <td>{{ results.info.date_updated }}</td>
                    </tr>
                  {% endif %}

                </tbody>
              </table>
            </div>
          {% endif %}
          <div class="column">
            <table class="table is-fullwidth">
              <tbody>
                <tr>
                  <th>First Usable</th>
                  <td>{{ results.first }}</td>
                </tr>
                <tr>
                  <th>Last Usable</th>
                  <td>{{ results.last }}</td>
                </tr>
                <tr>
                  <th>Network Mask</th>
                  <td>{{ results.network_mask }}</td>
                </tr>
                <tr>
                  <th>Host/Wildcard Mask</th>
                  <td>{{ results.host_mask }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>

        {% if results.info %}
          {% if results.info.description_full %}
            <div class="columns mb-4">
              <div class="column">
                <h5 class="title is-5">Full Description</h5>
                <p class="is-size-6">
                  {% for description in results.info.description_full %}
                    {{ description }}<br/>
                  {% endfor %}
                </p>
              </div>
            </div>
          {% endif %}

          <div class="columns mb-4">

            {% if results.info.owner_address %}
              <div class="column">
                <h5 class="title is-5">Address</h5>
                <p class="is-size-6">
                  {% for address_line in results.info.owner_address %}
                    {{ address_line }}<br/>
                  {% endfor %}
                </p>
              </div>
            {% endif %}

            {% if results.info.email_contacts %}
              <div class="column">
                <h5 class="title is-5">Email Contacts</h5>
                <p class="is-size-6">
                  {% for contact in results.info.email_contacts %}
                    {{ contact }}<br/>
                  {% endfor %}
                </p>
              </div>
            {% endif %}

            {% if results.info.abuse_contacts %}
              <div class="column">
                <h5 class="title is-5">Abuse Contacts</h5>
                <p class="is-size-6">
                  {% for contact in results.info.abuse_contacts %}
                    {{ contact }}<br/>
                  {% endfor %}
                </p>
              </div>
            {% endif %}

          </div>

          {% if results.info.asns %}
            <h5 class="title is-5">Announcing ASNs</h5>
            <table class="table is-hoverable is-fullwidth is-bordered is-striped is-narrow">
              <thead>
                <th>Country</th>
                <th>ASN</th>
                <th>Name</th>
                <th>Description</th>
              </thead>
              <tbody>
                {% for asn in results.info.asns %}
                  <tr>
                    <td>
                      <span class="fi fi-{{ asn.country_code|lower }}"></span>
                    </td>
                    <td>AS{{ asn.asn }}</td>

                    <td>{{ asn.name }}</td>
                    <td>{{ asn.description }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
