{% extends 'base.html' %}

{% block title %}
  IP Prefix Merge tool
{% endblock %}

{% block content %}
  <div class="columns is-tablet">
    <div class="column is-one-third is-one-quarter-desktop is-one-fifth-fullhd">
      <div class="card">
        <header class="card-header">
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fa-solid fa-table-list"></i></span></button>
          <p class="card-header-title">IP Prefix Merge</p>
        </header>
        <div class="card-content">
          <p class="subtitle is-7">
            Generate and consolidate
            <strong>the shortest possible representation</strong>
            of a list the IP addresses, IP prefixes or IP ranges and optionally exclude some IP addresses, IP prefixes or IP ranges from the list.
          </p>
          <form method="post">
            {{ form.csrf_token }}

            <div class="field">
              {{ form.networks.label(class = 'label') }}
              <div class="control is-expanded">
                {% if form.networks.errors %}
                  {{ form.networks(class = 'textarea is-danger', rows = 5) }}
                {% else %}
                  {{ form.networks(class = 'textarea', rows = 5) }}
                {% endif %}
              </div>
              {% if form.networks.errors %}
                <p class="help is-danger">
                  {% for error in form.networks.errors %}
                    {{ error }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="field">
              {{ form.excluded.label(class = 'label') }}
              <div class="control is-expanded">
                {% if form.excluded.errors %}
                  {{ form.excluded(class = 'textarea is-danger', rows = 5) }}
                {% else %}
                  {{ form.excluded(class = 'textarea', rows = 5) }}
                {% endif %}
              </div>
              {% if form.excluded.errors %}
                <p class="help is-danger">
                  {% for error in form.excluded.errors %}
                    {{ error }}
                  {% endfor %}
                </p>
              {% endif %}
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="column">
      <article class="message is-small">
        <div class="message-body">
          <div class="columns">
            <div class="column">
              <div class="content is-small">
                <ul>
                  <li>
                    IP Prefixes<ul>
                      <li>192.168.0.0/24</li>
                      <li>172.16.0.129/27 - Works out correct boundry (i.e .128 here.)</li>
                      <li>8.8.8.8/32 - Accepts host addresses in CIDR format.</li>
                      <li>fc00:0:0:1::/64 - IPv6 CIDRs</li>
                      <li>2606:4700:4700::1111/128 - IPv6 host address.</li>
                    </ul>
                  </li>
                  <li>
                    Hosts<ul>
                      <li>192.168.0.1</li>
                      <li>8.8.8.4</li>
                      <li>2606:4700:4700::1001</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div class="column">
              <div class="content is-small">
                <ul>
                  <li>
                    IP Ranges<ul>
                      <li>192.168.0.0-192.168.0.255 - Can be on bitmask boundry.</li>
                      <li>172.16.0.128-172.16.0.140 - Can be off bitbask boundry.</li>
                      <li>127.255.255.0-128.0.1.255 - Can overlap subnets.</li>
                      <li>fc00:0:0:1::-fc00::1:ffff:ffff:ffff:ffff - IPv6 Ranges</li>
                    </ul>
                  </li>
                  <li>
                    IP Glob Patterns (IPv4 only)<ul>
                      <li>172.16.*.*</li>
                      <li>192.168.1.*</li>
                      <li>10.50.1-5.*</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </article>

      {% if results %}
        <div class="grid">
          <div class="cell">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">IP Prefix Results</p>
                <button class="btn-copy card-header-icon has-text-grey-light" aria-label="Copy to Clipboard" title="Copy to clipboard" data-clipboard-target="#copy_cidrs">
                  <span class="icon">
                    <i class="fa-solid fa-copy" aria-hidden="true"></i></span></button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div id="copy_cidrs">
                    <pre style="background: transparent;"><code>{{ results.cidrs|join('\n') }}</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">IP Range Results</p>
                <button class="btn-copy card-header-icon has-text-grey-light" aria-label="Copy to Clipboard" title="Copy to clipboard" data-clipboard-target="#copy_ranges">
                  <span class="icon">
                    <i class="fa-solid fa-copy" aria-hidden="true"></i></span></button>
              </header>
              <div class="card-content">
                <div class="content">
                  <div id="copy_ranges">
                    <pre style="background: transparent;"><code>{{ results.ranges|join('\n') }}</code></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
