{% extends 'base.html.j2' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="title is-spaced">IP Web Tools</h1>
  <h2 class="subtitle">Tools for maniplulating IP addresses, subnets and CIDR blocks.</h2>
{% endblock %}
